<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--配置信息-->
  <appSettings>
    
    <!-- 接口厂家-->
    <add key ="InterfaceManufacture" value ="DY"/>
    
    <!--湖北泰扬数据上传的服务器配置-->
    <add key="ServerAddr" value="http://121.40.19.73/CommonService/MService.asmx"/>
    <add key ="ServerName" value =""/>
    <add key="ServerPassword" value=""/>
    <!--山东科润数据上传-->
    <add  key="UpDetectUnit" value =""/>
    <add key="UpDetectUnitNo" value=""/>
    <add key ="UploadType" value ="基地上传"/>
    <add key ="IntrumentNum" value ="LZ6000"/>
    <!--达元-->
    <add key ="Organize" value =""/>
    <add key="OrganizeNo" value=""/>
    <add key="ChkUnitType" value=""/>
    <add key ="NickName" value=""/>
    <add key ="pointID" value =""/>
    <!--山东阳谷xianshi-->
    <add key ="UpUnit" value ="shi"/>
  </appSettings>
</configuration>