<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AIO.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="AIO.Properties.Settings.localConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Data\local.Mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
    <add name="AIO.Properties.Settings.localConnectionString1" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Release\Data\local.Mdb;Persist Security Info=True"
      providerName="System.Data.OleDb" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--DY-3500标准版-->
    <add key="ADPORT" value="COM3"/>
    <add key="SXT1PORT" value="COM3"/>
    <add key="SXT2PORT" value="COM9"/>
    <add key="SXT3PORT" value="COM6"/>
    <add key="SXT4PORT" value="COM7"/>
    <add key="PRINTPORT" value="COM8"/>
    
    <!--分光光度检测孔个数-->
    <add key="HOLECOUNT" value="16"/>
    
    <!--摄像头个数，0表示不启用-->
    <add key="SXTCOUNT" value="4"/>

    <!--重金属个数，0表示不启用-->
    <add key="HMCOUNT" value="0"/>

    <!--是否启用微生物或者ATP-->
    <add key="EnableWswOrAtp" value="0"/>

    <!--WSW(微生物)&ATP-->
    <add key="IsWswOrAtp" value="WSW"/>

    <!--微生物软件存放地址，必须是绝对路径且包含.exe后缀-->
    <add key="MICROBIALADDRESS" value=""/>

    <!--是否打开指定文件 true为文件；false为文件夹-->
    <add key="ISOPENFILE" value="1"/>

    <!--是否启用设置界面【故障检测】按钮-->
    <add key="FAULTDETECTION" value="0"/>

    <!--是否启用设置界面【分光光度检测通道配置】-->
    <add key="SHOWFGD" value="0"/>

    <!--接口版本：行政版&企业版，默认使用行政版-->
    <add key="VERSION" value="XZ"/>

    <!--是否调整检测项目显示顺序-->
    <add key="ISSETINDEX" value="0"/>

    <!--是否启用视频播放功能-->
    <add key="IsEnableVideo" value="1"/>

    <!--视频存放路径-->
    <add key="VIDEOADDRESS" value="Video"/>

    <!--PDF存放路径-->
    <add key="PDFADDRESS" value="PDF"/>

    <!--是否启用删除功能-->
    <add key="ISDELETED" value="0"/>

    <!--是否进行滤光片测试-->
    <add key="TEST" value="0"/>

    <!--所属地区:GS 甘肃|CC|string.Empty 为通用-->
    <add key="EACHDISTRICT" value=""/>

    <!--是否允许修改检查结果-->
    <add key="ISUPDATECHECKEDVALUE" value="1"/>

    <!--接口类型-->
    <add key="InterfaceType" value="DY"/>

    <!--导出数据类型-->
    <add key="EXPORTTYPE" value="Excel"/>

    <!--仪器名称-->
    <add key="InstrumentName" value="食品综合分析仪"/>
    
    <!--仪器型号-->
    <add key="InstrumentNameModel" value="DY-3500"/>

    <!--滤光片测试相关参数，请勿修改-->
    <add key="STANDARD1" value="0.2994"/>
    <add key="STANDARD2" value="0.3008"/>
    <add key="STANDARD3" value="0.2609"/>
    <add key="STANDARD4" value="0.2534"/>
    <add key="DECISIONCRITERIA1" value="0.02"/>
    <add key="DECISIONCRITERIA2" value="0.01"/>
    <!--江苏南通登录用户-->
    <add key="LogonUser" value="13814601756"/>
    <add key ="danji" value ="1"/>
    
    <!--广东省智慧平台相关-->
    <!--获取快检单号URL-->
    <add key="getsampleURL" value="https://i.gdfda.gov.cn/inspectinfo/jsp/inspect/quick_inspect.jsp?method=getsample"/>
    <!--快检结果上报URL-->
    <add key="uploadResultURL" value="https://i.gdfda.gov.cn/inspectinfo/jsp/inspect/quick_inspect.jsp?method=inspectResult"/>
    <!--快检设备开关机状态上报URL-->
    <add key="deviceStatusURL" value="https://i.gdfda.gov.cn/inspectinfo/jsp/inspect/quick_inspect.jsp?method=deviceStatus"/>
    <!--通过选择快检单号时是否自动选择对应样品名称-->
    <add key="IsSelectSampleName" value="1"/>
    <!--快检结果下载URL--><!--
    <add key="downloadResultURL" value="http://192.168.19.43:6093/gdfda/quick_inspect.jsp?method=downloadResult"/>
    --><!--快检单上传URL--><!--
    <add key="uploadSampleURL" value="http://192.168.19.43:6093/gdfda/quick_inspect.jsp?method=uploadSample"/>-->
    
    <!--<add key="WSWPATH" value="Z:\收到的文件\达元\新建文件夹2015\RVLM 2012-04-13 Software 32bit\RVLM 2012-04-13 Software 32bit\RVLM20120413.jar"/>
    <add key="GZZPATH" value="C:\Program Files (x86)\达元一体化食品安全检测系统\FoodClient.exe"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>-->
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
  <applicationSettings>
    <AIO.Properties.Settings>
      <setting name="DY_Detector_NewInterface_dataSync" serializeAs="String">
        <value>http://apps.gsfda.gov.cn:8081/gsfdaweb/services/dataSync</value>
      </setting>
      <setting name="DY_Detector_WebReference_Testplaninfo" serializeAs="String">
        <value>http://61.155.85.74:2205/spkj/services/Testplaninfo</value>
      </setting>
    </AIO.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
</configuration>