<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="PutSoapBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://111.1.62.181/Put.jws" binding="basicHttpBinding"
                bindingConfiguration="PutSoapBinding" contract="ServiceReference1.Put"
                name="Put" />
        </client>
    </system.serviceModel>
</configuration>