<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="FoodClient.Properties.Settings.localConnectionString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\bin\Debug\Data\local.Mdb;Persist Security Info=True;Jet OLEDB:Database Password=dy05xl378" providerName="System.Data.OleDb"/>
  </connectionStrings>
  <appSettings>
    <add key="FoodClient.ForNet.DataDriver" value="http://localhost/DataDriver/DataDriver.asmx" />
    <add key="FoodClient.localhost.DataSyncService" value="http://localhost/DataDriver/DataDriver.asmx" />
    <add key="InterfaceNameSpace" value="FoodClient.ForNet.DataDriver" />
    <add key="SupAdmin" value="73F504E1F2D86EA73483B932D5CF73DB" />
    <add key="RockeyScanInterval" value="5" />
    <add key="TransferMode" value="1" />
    <add key="WinceFtpIp" value="192.168.19.230" />
    <add key="WinceDataPath" value="//test_info.xml" />
    <add key="WinceFtpUser" value="" />
    <add key="WinceFtpPwd" value="" />
    <add key="ConnectionAddress" value="120.0.0.0" />
    <add key="ReportsType" value="DLBB" />
    <add key="AnHui_IP" value="36.7.107.82" />
    <add key="AnHui_url" value="http://36.7.107.82:5680/kjsys_new/webservice/instrumentDockingServiceProviderService?wsdl" />
    <add key="AnHui_userName" value="" />
    <add key="AnHui_passWord" value="" />
    <add key="AnHui_instrument" value="" />
    <add key="AnHui_instrumentNo" value="" />
    <add key="AnHui_mac" value="" />
    <add key="AnHui_interfaceVersion" value="1.0" />
    <add key="shangdongbarcode" value="" />
    <add key="setInterface" value="xin" />
    <add key="DoubleWebserverice" value="" />
    <add key="WebAddr" value="http://ncadmin.ifesports.cn/" />
    <add key="UnitID" value="123456" />
    <add key="UnitPwd" value="service" />
    <add key="UnitName" value="达元" />
    <add key="HeFei_uploadUrl" value="" />
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="MServiceSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://121.40.19.73/CommonService/MService.asmx"
        binding="basicHttpBinding" bindingConfiguration="MServiceSoap"
        contract="ServiceReferenceSD.MServiceSoap" name="MServiceSoap" />
    </client>
  </system.serviceModel>
</configuration>
